@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Product>


<a asp-controller="Product" asp-action="AddProduct"><input type="submit" value="Add New" class=" btn btn-primary" /></a>



<form  method="post">
    
    <select name="choice">

        <option>All</option>
        <option>LTH</option>


    </select>
    <input type="submit" value="Filter"  />

</form>
<div class="container">
    <div class="row">
        @foreach (var d in Model)
        {
            <div class="col-md-3 mb-4">
               
                <div class="card" style="width: 100%;">
                    
                    <img class="card-img-top" height="200" width="100%" src="/@d.Picture" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"> product: @d.Pname</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> catagory :@d.Pcat</li>
                        <li class="list-group-item"> Price :@d.Price</li>
                    </ul>
                    <div class="card-body">
                        <a  asp-controller="Product" asp-action="AddToCart" asp-route-id="@d.Pid" class="btn btn-sm btn-warning">Add To Cart</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

